body {
  color: #675647;
  padding:20px;
  margin:0;
  overflow:hidden;
  font-family: Helvetica, Arial, 'sans-serif';
  background-color: #BDBD9F;
}

.levels {
  margin:10px;
  display: table;
  border-spacing: 5px;
}

.level {
  margin:5px;
  min-height: 93px;
  max-height: 93px;
  width: 85px;
  background:url(sprites.png) no-repeat;
  display: table-cell;
}

.level.done {
  background-position:0 -93px;
}

.overlay {
  display:none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color:#eee;
  opacity: 0.7;
}

.overlay.active {
  display: block;
}

.overlay div {
  margin:20% auto;
  width: 40%;
  min-width: 300px;
  max-width: 500px;
  text-align: center;
}

.overlay h1 {
  font-size: 3.5em;
}

.overlay button {
  font-size: 2.5em;
}

#instructions {
  display: table-cell;
  margin:0;
  padding:0 20px;
  height: 93px;
  vertical-align: middle;
  font-size: 1.8em;
}

.scores-container {
  position: absolute;
  top: 0;
  right:10px;
  font-size: 4em;
  display: table;
  border-spacing: 5px 0;
}

.scores-container div {
  background-color: #675647;
  color: #EEC05E;
  padding:10px 10px 10px;
  margin-bottom:5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  min-width: 200px;
  display: table-cell;
}

#score-container:before {
  content: "Score";
  color: #BDBD9F;
  display: block;
  font-size: 0.5em;
  margin-bottom:5px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

#best-container:before {
  content: "Best";
  color: #BDBD9F;
  display: block;
  font-size: 0.5em;
  margin-bottom:5px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
