body {
  padding:0;
  margin:0;
  overflow:hidden;
}

.levels {
  margin:0 auto;
  display: table;
}

.level {
  margin:5px;
  min-height: 93px;
  max-height: 93px;
  width: 85px;
  background:url(sprites.png) no-repeat;
  display: inline-block;
}

.level.done {
  background-position:0 -93px;
}